.forgot-password-general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.forgot-password-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 48px 40px 40px;
}

.general-forgot-password-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}

.tittle-and-paragraph-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(230px + 20%);
}

.forgot-tittle{
    display: flex;
    font-size: 48px;
    text-align: center;
}

.forgot-text{
    display: flex;
    font-size: 18px;
    text-align: center;
}

.forgot-password-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    width: calc(230px + 20%)
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    width: 100%;
}

.button-submit {
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 12px;
    background-color: #611f69;
    padding: 12px;
    color: rgba(255, 255, 255, 0.863);
    font-size: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.74);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-submit:hover {
    background-color: #3c1341;
}

@media screen and (max-width: 1124px) {
    .forgot-tittle{
        font-size: 40px;
    }
    .forgot-text{
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .forgot-tittle{
        font-size: 32px;
    }
    .forgot-text{
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .forgot-tittle{
        font-size: 28px;
    }
    .forgot-text{
        font-size: 12px;
    }
}