.home-screen-component-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4a154b;
}

.general-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 50px;
}

.workspace-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.workspace-selected{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-bottom: #f9f0ff 1px solid;
}

.create-workspace-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(167, 167, 167, 0.74);
}

.workspace-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.email-user-reference{
    display: flex;
    flex-direction: row;
    background-color: #f9f0ff;
    width: 100%;
    padding: 10px;
}
