.home-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111827;
}

.welcome-title {
    color: rgba(255, 255, 255, 0.9);
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}

.general-header-container{
    width: 100%;
    height: 20px;
    background-color: #1f2937;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}