.home-screen-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4a154b;
}

.general-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100px + 73%);
    padding: 20px 50px;
    margin-bottom: 50px;
}

.logo-and-nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.home-screen-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tittle-hello-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 60%;
}

.tittle-hello-container h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: start;
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.home-nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home-nav-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 30px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}

.home-nav-container li {
    cursor: pointer;
    list-style: none;
    gap: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.arrow-down {
    font-size: 12px;
    font-weight: 700;
}

.workspace-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(340px + 40%);
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.user-workspaces-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.workspace-selected {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-bottom: #f9f0ff 1px solid;
}

.create-workspace-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(340px + 40%);
    height: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(167, 167, 167, 0.74);
    overflow: visible;
}

.img-and-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img-and-text-container img {
    position: relative;
    top: 15px;
}

.workspace-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.email-user-reference {
    display: flex;
    flex-direction: row;
    background-color: #f9f0ff;
    width: 100%;
    padding: 30px 10px;
}

.email-user-reference h4 {
    font-weight: 400;
}

.image-container {
    display: flex;
    flex-direction: row;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
}

.workspace-image {
    width: 100%;
    object-fit: cover;
}

.button-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.button-link-to-slack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px;
    border: 1px solid black;
    background-color: #4a154b;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
}

.home-header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.talk-to-sales-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: white 1px solid;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-wrap: nowrap;
    color: white;
    padding: 12px 17px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.talk-to-sales-button:hover {
    box-shadow: inset 0 0 0 1px white;
}

.create-workspace-header-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 17px;
    background: white;
    text-wrap: nowrap;
    font-size: 14px;
    font-weight: 500;
    color: #4a154b;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.create-workspace-header-button:hover {
    border: 1px solid #4a154b;
    box-shadow: inset 0 0 0 1px #4a154b;
}

.button-create-workspace-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.button-create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 17px;
    border: #4a154b 1px solid;
    border-radius: 5px;
    color: #4a154b;
    font-weight: 600;
}

.download-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(340px + 40%);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.075);
    color: white;
    margin: 50px 0px;
}

.image-and-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-download-container{
    display: flex;
    width: 75px;
    height: 60px;
    border-radius: 5px;
    margin-right: 20px
}

.download-image{
    width: 100%;
    object-fit: cover;
}

.no-workspace-text{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
}

.other-email-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #36c5f0;
}