*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-text{
    display: flex;
    width: 100%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(167, 167, 167, 0.74);
}

.label-text{
    position: absolute;
    left: 5px;
    top: 10px;
}

input:focus~label{
    top: -10px;
    color: #3c1341;
    background-color: white;
    padding: 0px 2px;
}