.login-general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.general-form-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.general-form-login-container h1 {
    font-size: 48px;
    width: 800px;
    text-align: center;
    margin-bottom: 40px;
}

.form-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    gap: 20px;
    color: #585858;
}

.form-imputs {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-logo-slack-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 610px;
    padding: 48px 40px 40px;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #585858;
    font-size: 13px;
    gap: 5px;
}

.link-register {
    color: #3c1341;
    text-decoration: none;
}