.form-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    border: solid 1px black;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    background-color: rgba(83, 83, 83, 0.61);
    box-shadow: 0 0 10px black;
}

.form-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.general-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, black, rgb(83, 83, 83));
    height: 100vh;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 500;
}

.input-text{
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-family: "Bitcount Grid Single", system-ui;
}

.button-register{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: rgba(255, 255, 255, 0.726);
    font-weight: bold;
    cursor: pointer;
}

.button-register:hover{
    background-color: rgb(19, 19, 19);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    position: relative;
    top: 200px;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 200;
    filter: drop-shadow(0 -6mm 4mm rgb(160 0 210))
}