.general-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white; 
}

.title-and-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    gap: 20px;
    padding: 5px;
    margin-bottom: 230px;
}


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 350px;
    color: #585858;
}

.form-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}


.button-register{
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 12px;
    background-color: #611f69;
    padding: 12px;
    color: rgba(255, 255, 255, 0.863);
    font-size: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.74);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.button-register:hover{
    background-color: #3c1341;
}

.error-text{
    color: rgb(181, 0, 0, 1);
}

.success-text{
    color: green;
}

.little-text{
    display: flex;
    max-width: 350px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.384);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

.title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
}

.text-span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 30px;
}

.header-logo-container{
    display: flex;
    flex-direction: row;
    padding: 48px 0px 40px;
}

.used-slack-link-container{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.footer-options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px 40px;
}
.options-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.options-container a{
    display: flex;
    text-decoration: none;
    color: #585858;
    border-bottom: none;
    align-items: center;
}

.options-container a:hover{
    text-decoration:solid;
}

@media screen and (max-width: 768px) {
    .text-span{
        font-size: 14px;
        padding: auto 20px;
    }

    .title{
        font-size: 40px;
    }
    .title-and-form-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 110px;
    }
}

@media screen and (max-width: 480px) {
    .text-span{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }
    .options-container {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .title-and-form-container{
        display: flex;
        margin-bottom: 30px;
    }
    .title{
        font-size: 30px;
    }
}

@media screen and (max-width: 320px) {
    .title-and-form-container{
        display: flex;
        margin-bottom: 10px;
    }
}