.general-form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white; 
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 350px;
    color: gray;
}

.input-text{
    width: 100%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.74);
}

.button-register{
    border: none;
    border-radius: 12px;
    background-color: #611f69;
    padding: 12px;
    color: rgba(255, 255, 255, 0.863);
    font-weight:bolder;
    font-size: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.74);
}

.error-text{
    color: red;
}

.success-text{
    color: green;
}

.little-text{
    font-size: 12px;
    background-color: rgb(214, 214, 214);
    padding: 5px;
    border-radius: 5px;
}

.title{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}