.reset-password-general-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 210px;
}

.general-form-reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(94, 94, 94, 0.61);
    padding: 15px;
    margin-top: 20px;
    gap: 20px;
}

.form-reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.form-input-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.reset-password-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #611f69;
}

.button-reset-password{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #611f69;
    border: 1px solid #611f69;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-reset-password:hover{
    background-color: #4a154b;
    border: 1px solid #4a154b;
}

.reset-show-password{
    display: flex;
    position: relative;
    left: 250px;
    bottom: 30px;
    cursor: pointer;
    color: #565656;
}