.reset-password-general-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.general-form-reset-password-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}