.reset-password-general-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 210px;
}

.general-form-reset-password-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-reset-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 350px;
}

.form-input-reset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}