.verification-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.verification-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    gap: 20px;
    padding: 5px;
    margin-bottom: 230px;
}

.code-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    gap: 20px;
}

.code-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    gap: 20px;
    border: 1px solid #3c1341;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: #3c1341;
}

.verification-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.verification-header h1 {
    font-size: 48px;
    width: 100%;
    text-align: center;
}

.button-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3c1341;
    color: white;
}

.letter-color {
    color: #3c1341;
    font-weight: 600;
}


@media screen and (max-width: 620px) {
    .verification-header h1{
        font-size: 32px;
    }
    .verification-header p{
        font-size: 14px;
    }
    .code-input-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        gap: 10px;
    }
    .code-input {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 425px) {
    .verification-header h1{
        font-size: 24px;
    }
    .verification-header p{
        font-size: 12px;
    }
    .code-input-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        gap: 10px;
    }
    .code-input {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
}